@use '../abstracts/functions' as *;
@use '../base/colors' as *;


.nav-badge{
    position: absolute;
    top: -15%;
    right: 2%;
    background: $clr-accent;
    font-size: rem(13);
    padding: .05em .4em;
    border-radius: 50%;
}