// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/colors' as *;

%button {
    display: inline-block;
    white-space: nowrap;
    font-size: rem(13);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: rem(1);
    border-radius: $border-radius-2;
}

.hero__cta {
    @extend %button;

    position: relative;
    padding: 1em 3em;
    margin-top: 2em; /*TODO: increase based on device width */
    background: $clr-accent;

    // used a pseudo element for hover event because transition
    // will be overridden by a utility class that will be added later
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        background-color: mix(black, $clr-accent, 20%);
        transition: opacity 0.4s;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
    }
}

.hero__f-card-cta {
    @extend %button;

    position: absolute;
    @include left-50;
    bottom: 7%;
    color: $clr-white;
    border: 2px solid $clr-white;
    padding: 0.7em 3.5em;
    z-index: 1;
    transition: background-color 0.4s, color 0.4s;

    &:hover {
        background: $clr-white;
        color: $clr-black;
    }
}

.product-card-cta {
    @extend %button;

    display: block;
    padding: 0.7em 1.5em;
    margin-top: 0.5em;
    background: $clr-accent;
    font-size: rem(12);
    border-radius: rem(3);
    transition: background-color 0.4s, transform 0.2s ease-out, opacity 0.2s ease-out;

    &:hover {
        background: mix(black, $clr-accent, 5%);
    }
}

// Modifying Owl Library buttons
.owl-next {
    right: -7%;

    @include mq(small) {
        right: -5%;
    }

    @include mq(large) {
        right: -3%;
    }
}

.owl-prev {
    left: -7%;

    @include mq(small) {
        left: -5%;
    }

    @include mq(large) {
        left: -3%;
    }
}

.owl-next,
.owl-prev {
    border-radius: 50%;
    @include top-50;

    &:hover {
        background: none !important;
    }

    span {
        background: rgba($clr-gray, 0.5);
        border-radius: 50%;
        font-size: 2rem;
        // padding: .1em .5em; // I think they too big
        padding: 0 0.4em;
        color: rgba($clr-white, 0.8);

        &:hover {
            background: $clr-accent-hover !important;
        }
    }
}

.owl-dots {
    display: none !important;
}

.owl-nav {
    margin: 0 !important;
}

.top-deals__product-cards,
.top-featured__top-cards,
.top-featured__bottom-cards,
.top-selling__product-cards,
.recommended__cards,
.brands__cards {
    
    @media (hover) {
        .owl-next, 
        .owl-prev {
            opacity: 0 !important;
            transition: opacity .3s;
        } 

        &:hover {
            .owl-next,
            .owl-prev {
                opacity: 1 !important;
            }
        }
    }

    .owl-next {
        right: -6%;

        @include mq(xsmall) {
            right: -5%;
        }

        @include mq(small) {
            right: -3.5%;
        }

        @include mq(medium) {
            right: -2.5%;
        }
    }

    .owl-prev {
        left: -6%;
        
        @include mq(xsmall) {
            left: -5%;
        }

        @include mq(small) {
            left: -3.5%;
        }

        @include mq(medium) {
            left: -2.5%;
        }
    }
}
