@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/colors' as *;

.hero__f-card {
    position: relative;
    width: 100%;
    min-height: rem(170);
    color: $clr-white;
    border-radius: $border-radius;

    @include hover-zoom;

    &-img {
        position: absolute;
        inset: 0;
        object-fit: cover;
        @include size(100%, 100%);
        object-position: center;
        transition: transform 0.4s ease-out;
    }

    &-text-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        inset: 15% 10%;
    }

    &-heading {
        font-size: rem(22);
        font-weight: 400;
    }

    &-text {
        font-size: rem(15);
        margin: auto 0 rem(10);
    }
}

.hero__f-card:nth-child(3) {
    text-align: right;
}

.hero__f-card:last-child {
    min-height: rem(170 * 2);
    text-align: center;

    // can't use parent selector because of pseudo-class in parent
    .hero__f-card-img {
        object-position: center 1%;
    }

    .hero__f-card-text-content {
        top: 25%;
    }

    .hero__f-card-heading {
        margin-top: -0.5em;
    }

    .hero__f-card-text {
        margin-top: 0;
    }
}

.product-card {
    padding-right: 0.5rem;
    position: relative;
    // outline: 1px solid brown;

    &::before {
        @include pseudo;
        right: 0;
        @include top-50;
        @include size(rem(1), 85%);
        background: rgba($clr-gray, 0.2);
    }

    // &:last-child::before {
    //     display: none;
    // }

    @include hover-zoom;
    @media (hover) {

        &::before {
            height: 70%;
        }

        &-cta {
            opacity: 0;
            transform: translateY(rem(10));
        }

        &:hover{
            .product-card-cta {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &-img-wrapper {
        // outline: 1px solid red;
        @include width-min(100%, rem(150));
        margin: 0 auto;
        overflow: hidden;

        img {
            transition: transform 0.3s;
            max-height: 100%;
        }
    }

    &-title {
        // color: $clr-primary;
        color: $clr-product-card-title;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: $clr-accent-hover;
        }
    }

    &-rating {
        margin-top: 0.3rem;

        @include mq(medium) {
            display: flex;
            gap: 0.5em;
        }
    }

    &-stars {
        display: flex;
        gap: 0.05em;
        // outline: 1px solid orange;
        white-space: nowrap;

        & * {
            stroke: $clr-accent-orangish;
            width: rem(15);
        }
    }

    &-reviews {
        color: rgba($clr-gray, 0.8);
        font-size: rem(13);
    }

    &-price-wrapper {
        white-space: nowrap;
    }

    &-price {
        display: inline-block;
        color: rgba(black, 0.85);
        font-weight: 500;
        
        &, &--new {
            @include mq(medium) {
                margin-top: 0.8em;
            }
        }
        
        &--new {
            display: inline-block;
            font-weight: 500;
            color: $clr-danger;
        }

        &--discount {
            padding-left: 0.3em;
            font-size: rem(14);
            text-decoration: line-through;
            color: rgba($clr-gray, 0.8);
        }
    }

    &.row {
        width: 100%;
        background: $clr-white;
        border-radius: $border-radius-2;

        @include mq(small) {
            max-width: 100%;
        }

        &::before {
            display: none;
        }

        .product-card-text-content {
            // outline: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @include mq(xsmall) {
                padding: .8em 0;
            }
        }

        .product-card-reviews {
            display: none;

            @include mq(large) {
                display: inline-block;
            }
        }

        .product-card-price-wrapper, 
        .product-card-price {
            margin-top: .5em;
            white-space: nowrap;
        }

        .product-card-price--new {
            margin-top: 0;
        }

        &.main {
            max-width: 100%;
            padding: .5em .7em .5em 0;

            @include mq(xsmall) {
                @include height-min(75vh, rem(350));
            }

            .product-card-img-wrapper {
                @include flex-center;
                // outline: 1px solid orange;

                @include mq(xsmall) {
                    margin: 0;
                    max-width: 50%;
                }
            }

            .info {
                display: none;
                margin-top: .5em;
                margin-left: .9em;
                font-size: rem(14);
                color: $clr-gray;
                z-index: 1; // to stay on top of image when it scales up
                list-style-type: disc;
                
                @include mq(small) {
                    display: block;
                }

                li {
                    padding: .2em 0;
                }
            }
    
            .product-card-cta {
                opacity: 1;
                transform: translateY(0);
                
                @include mq(xsmall) {
                    margin-top: 1em;
                }
            }
        }


    }

}


.top-deals__cat-card {
    position: relative;
    // outline: 1px solid red;
    height: rem(150);
    border-radius: $border-radius-2;

    @include hover-zoom;

    &-img {
        position: absolute;
        inset: 0;
        object-fit: cover;
        object-position: center;
        @include size(100%);
        transition: transform .4s;
    }

    &-text {
        position: absolute;
        @include left-50;
        bottom: 14%;
        padding: .7em 2em;
        font-size: rem(13);
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        background: $clr-white;
        border-radius: rem(3);
        z-index: 1;
    }
}

.top-deals__cat-card:nth-child(3),
.top-deals__cat-card:nth-child(6) {
    height: rem(300);

    .top-deals__cat-card-text {
        bottom: 7%;
    }
}

.top-selling__cat-card {
    position: relative;
    @include size(100%, rem(180));
    border-radius: $border-radius-2;

    @include hover-zoom;

    img {
        position: absolute;
        inset: 0;
        @include size(100%);
        transition: transform .4s;
        object-fit: cover;
        object-position: center;
    }

    &-text-content {
        position: absolute;
        @include top-50;
        left: 10%;
        width: 80%;
        color: $clr-white;
        // outline: 1px solid orange;
    }

    &-desc {
        color: $clr-accent;
    }

    &-title {
        font-weight: 500;
        font-size: rem(22);
    }

    &-text {
        margin-top: 1.5em;
        font-size: rem(15);
    }
}