@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/colors' as *;

.hero {
    &__slides {
        position: relative;
        @include height-min(55vmax, rem(350));
        // @include width-min(100%, rem(500));
        width: 100%;
        margin: 0 auto;
        color: $clr-white;
        border-radius: $border-radius;
        overflow: hidden;
        // border: 1px solid red;
    }

    &__slide {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        inset: 0;
        display: none;

        @include hover-zoom;

        &.active {
            display: flex;
        }
    }

    &__img-wrapper {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            object-fit: cover;
            @include size(100%, 100%);
            transition: transform .4s ease-out;
        }
    }

    &__text-content {
        width: 90%;
        padding-left: 2.5rem;
    }

    h2 {
        font-size: rem(28);

        @include mq(small) {
            font-size: rem(35);
        }
    }

    &__top-text {
        font-weight: 300;
        white-space: nowrap;
    }

    &__bottom-text {
        font-weight: 400;
    }

    &__extra-text {
        margin-top: 1em;
        font-size: rem(14);

        @include mq(small) {
            font-size: rem(16);
        }
    }
}
