@use '../abstracts/functions';

body{
    overflow: overlay; // for scroll bar as overlay
}

::-webkit-scrollbar {
    width: rem(15);
}

::-webkit-scrollbar-thumb {
    background: rgba(black, 0.6);
    border: rem(4) solid transparent;
    background-clip: content-box;
    border-radius: rem(20);
}