body{
    overflow: overlay; // for scroll bar as overlay
}

// Sass functions don't  work here
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgba(black, 0.5);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 20px;
}