@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/colors' as *;

.recommended {
    background: $clr-white;
    padding: 3rem 0;

    &__header {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        // outline: 1px solid orange;

        @include mq(small) {
            flex-direction: row;
            justify-content: space-between;
        }

        &::before {
            @include pseudo;
            top: 100%;
            left: 0;
            @include size(100%, rem(1));
            background: rgba($clr-gray, .15);
        }
    
    }

    &__heading {
        position: relative;
        padding: .2em 0;
        font-weight: 300;
        width: max-content;

        &::before {
            @include pseudo;
            top: 100%;
            left: 0;
            @include size(100%, rem(3));
            background: $clr-primary;
            border-radius: $border-radius-2;
        }

        span {
            font-weight: 500;
        }
    }

    &__link {
        font-size: rem(14);

        &:hover {
            color: $clr-accent-hover;
        }
    }

    &__cards {
        margin-top: 1.5em;
    }

}