$clr-danger: hsl(0, 82%, 44%);
$clr-success: hsl(93, 74%, 38%);

$clr-white: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 0%, 40%);
$clr-black: mix(transparent, black, 20%);

$clr-bg-light: hsl(200, 14%, 96%);

$clr-primary-v-light: hsl(228, 50%, 80%);
$clr-primary: hsl(228, 60%, 37%);
$clr-primary-dark: hsl(228, 70%, 27%);

$clr-product-card-title: hsl(209, 100%, 39%);

$clr-accent: hsl(47, 99%, 50%);
$clr-accent-orangish: hsl(35, 100%, 50%);
$clr-accent-hover: hsl(45, 100%, 49%);
$clr-accent-dark: hsl(45, 98%, 43%);
