// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use '../abstracts/variables' as *;

// Ultimate centering of children elements
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Setup for pseudo elements
@mixin pseudo {
  content: "";
  position: absolute;
}

// Mixin for media queries
@mixin mq($key){
  @media screen and(min-width: map-get($breakpoints-up, $key)){
    @content;
  }
}