// -----------------------------------------------------------------------------
// This file contains all application-wide  variables.
// -----------------------------------------------------------------------------
@use './functions' as *;

// CSS Variables (to be modified later)
:root {
  --max-width: 71.25rem; // for utility container
}

// Sass Variables (no modification)
$logo-font: "Poppins", sans-serif;
$border-radius: rem(10);
$border-radius-2: rem(4);

// Breakpoints map - Since I'm using mobile-first workflow, no need for small screen size
$breakpoints-up: (
  "xsmall": 35.5em, // 568px - small phones in landscape
  "small": 48em, // 768px
  "medium": 62em, // 992px (or 1024 if needed)
  "large": 75em, // 1200px
  "xlarge": 90em, // 1440px
  "max": 160em // 2560px
);