// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// CSS Variables (to be modified later)
:root{
  --max-width: 1180px; // for container
}

// Sass Variables (no modification)
$logo-font: 'Poppins', sans-serif;



// Breakpoints map
$breakpoints-up: (
  'small': 20em,  // 320px
  'medium': 48em,  // 768px
  'large': 62em,  // 992px
  'xlarge': 90em, // 1440px
  'very_large': 160em // 2560px
);