// -----------------------------------------------------------------------------
// This file contains all application-wide  variables.
// -----------------------------------------------------------------------------
@use './functions' as *;


// CSS Variables (to be modified later)
:root{
  --max-width: 71.25em; // for utility container
}

// Sass Variables (no modification)
$logo-font: 'Poppins', sans-serif;
$border-radius: rem(10);
$border-radius-2: rem(4);




// Breakpoints map
$breakpoints-up: (
  'small': 20em,  // 320px
  'medium': 48em,  // 768px
  'large': 62em,  // 992px (or 1024 if needed)
  'xlarge': 90em, // 1440px
  'very_large': 160em // 2560px
);