// -----------------------------------------------------------------------------
// This file contains all styles related to the hero section of the site.
// -----------------------------------------------------------------------------
@use '../abstracts/mixins' as *;

.hero {
    margin-top: 1.5rem;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include mq(medium) {
            display: grid;
            // grid-area: 
            // "slides "
        }
    }
}
